body{
  background-color: white;
  margin:50px;
}


.version{
    color:red;
    text-align:right;
}


.header{
  text-align:center;
  background-color:lightgray;
  font-family:monospace;
}

#title{
  font-variant: small-caps;
}

#navbar {
  list-style-type:none;
  margin:0 auto;
  padding:0px;
  position:absolute;
  text-align:center;
}

#navbar li {
  float:left;
}

#navbar a:link, a:visited {
/* Unused AND visited
display:  inline means ONLY SPACE IT NEEDS
          block means GIVE IT A WIDTH
          width, padding, background-color
font:     font-weight, color, text-align, text-decoration, text-transform
*/
background-color:teal;
color:white;
display:block;
width: 200px;
padding:5px;
text-decoration: none;
text-transform: lowercase;
font-weight:bold;

}

#navbar a:hover {
  /* Hovered AND active.
  */
  background-color:palegreen;
  color:darkgreen;
}

#navbar a:active {
   color:white;
 }
